CREATE TABLE "migrations" ("id" integer primary key autoincrement not null, "migration" varchar not null, "batch" integer not null);
CREATE TABLE sqlite_sequence(name,seq);
CREATE TABLE "users" ("id" integer primary key autoincrement not null, "name" varchar not null, "email" varchar not null, "email_verified_at" datetime, "password" varchar not null, "role" varchar not null default 'user', "remember_token" varchar, "created_at" datetime, "updated_at" datetime);
CREATE UNIQUE INDEX "users_email_unique" on "users" ("email");
CREATE TABLE "password_reset_tokens" ("email" varchar not null, "token" varchar not null, "created_at" datetime, primary key ("email"));
CREATE TABLE "sessions" ("id" varchar not null, "user_id" integer, "ip_address" varchar, "user_agent" text, "payload" text not null, "last_activity" integer not null, primary key ("id"));
CREATE INDEX "sessions_user_id_index" on "sessions" ("user_id");
CREATE INDEX "sessions_last_activity_index" on "sessions" ("last_activity");
CREATE TABLE "areas" ("id" integer primary key autoincrement not null, "name" varchar not null, "description" text, "created_at" datetime, "updated_at" datetime);
CREATE UNIQUE INDEX "areas_name_unique" on "areas" ("name");
CREATE TABLE "ticket_categories" ("id" integer primary key autoincrement not null, "name" varchar not null, "description" text, "created_at" datetime, "updated_at" datetime);
CREATE UNIQUE INDEX "ticket_categories_name_unique" on "ticket_categories" ("name");
CREATE TABLE "tickets" ("id" integer primary key autoincrement not null, "title" varchar not null, "description" text not null, "status" varchar not null default 'pending', "priority" varchar not null default 'medium', "area_id" integer not null, "ticket_category_id" integer not null, "requester_id" integer not null, "assigned_user_id" integer, "created_at" datetime, "updated_at" datetime, foreign key("area_id") references "areas"("id") on delete restrict on update cascade, foreign key("ticket_category_id") references "ticket_categories"("id") on delete restrict on update cascade, foreign key("requester_id") references "users"("id") on delete restrict on update cascade, foreign key("assigned_user_id") references "users"("id") on delete set null on update cascade);
CREATE INDEX "tickets_status_index" on "tickets" ("status");
CREATE INDEX "tickets_priority_index" on "tickets" ("priority");
CREATE TABLE "ticket_comments" ("id" integer primary key autoincrement not null, "ticket_id" integer not null, "user_id" integer not null, "body" text not null, "is_internal" tinyint(1) not null default '0', "created_at" datetime, "updated_at" datetime, foreign key("ticket_id") references "tickets"("id") on delete cascade on update cascade, foreign key("user_id") references "users"("id") on delete restrict on update cascade);
CREATE TABLE "solutions" ("id" integer primary key autoincrement not null, "ticket_id" integer not null, "user_id" integer not null, "summary" varchar not null, "details" text, "created_at" datetime, "updated_at" datetime, foreign key("ticket_id") references "tickets"("id") on delete cascade on update cascade, foreign key("user_id") references "users"("id") on delete restrict on update cascade);
CREATE UNIQUE INDEX "solutions_ticket_id_unique" on "solutions" ("ticket_id");
